
.pg{
    background-color: black;
    position: relative;

}
.backB{
    background-color: black;
    font-family: "PixelSplitter", sans-serif;
    border: none;
    color: goldenrod;
    padding: 15px 50px;
    padding-left: 100px;
    padding-right:100px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
}
.backB:hover {
    background-color: goldenrod;
    color: white;
  }

  .viewNFT{
  background-color: goldenrod;
  font-family: "PixelSplitter", sans-serif;
  color: white;
  padding: 15px 50px;
  text-align: center;
  margin:auto;
  display:block;
  box-shadow: -2px 2px gold, -2px 2px gold, -2px 2px gold;
  border: 5px solid gold;
  text-decoration: none;
  font-size: 30px;
}
.viewNFT:hover {
    background-color: black;
    color: goldenrod;
    
  }
.yours{
    display:inline-flex;
    width:300px;
    position:center;
    
}
.disp{
    display:inline-block;
    padding-left:130px;
    font-family: "PixelSplitter", sans-serif;
   
    position:center;
    color: wheat;
}
